<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Springboot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="SpringBoot" />
    <option name="SPRING_BOOT_MAIN_CLASS" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>